@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-5">Welcome to My Webapp Demo Page</h1>
    <p>This is just a demo page to build/test CI/CD pipelines.</p>
    <br />
    <p>Connect to my <a href="https://linkedin.com">LinkedIn</a></p>
    <p>Connect to my <a href="https://www.github.com">Github</a></p>
    <br />
    <p> UTC Time & Date : @DateTime.UtcNow</p>
    <br />
    <img src="~/images/devops.png" style="width:200px"/>
</div>
