@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>
This site does not have a privacy policy at this point in time as we do not collect any information from visitors.
</p>
